<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - Transport Calculator</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/log-out.js" defer></script>
    <script src="/redirect.js" defer></script>
    {{! <script src="/displayAddForm.js" defer></script>
    <sript src="/createDataAdd.js"></sript> }}
  </head>
  <body>

    <nav>
      <img class="nav-logo" src="/images/WeMat_Logo.png" alt="company_logo " />
      <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/edit">Edit</a></li>
      </ul>
      <button id="log-out-btn" class="log-btn">Log-out</button>
    </nav>

    <div class="container-succes">
      <h2 class="form-title">The data was susccesfully added inside of your
        chosen database!</h2>
      <button class="add-btn" id="return-btn">Return to homepage</button>
    </div>
  </body>
</html>