<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - Transport Calculator</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/log-out.js" defer></script>
    <script src="/redirect.js" defer></script>
  </head>
  <body>

    <nav>
      <img class="nav-logo" src="/images/WeMat_Logo.png" alt="company_logo " />
      <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/edit">Edit</a></li>
      </ul>
      <button id="log-out-btn" class="log-btn">Log-out</button>
    </nav>

    <div class="container-select">
      <h1 class="select-title">What database you want to view ?</h1>
      <form method="POST" action="viewDPD">
       <button id="db-view-1" class="db-select-btn-style" name="dpdSelect">DPD DB</button> 
       </form>
       <form method="POST" action="viewRaben"> 
       <button id="db-view-2" class="db-select-btn-style" name="rabenSelect">Raben DB</button>
       </form>
       <form method="POST" action="viewMat">
       <button id="db-view-3" class="db-select-btn-style" name="materialSelect" >Materials DB</button>
       </form>
    </div>
    </div>
  </body>
</html>